{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Time period
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">
    Add a link
  </h1>

  <form
      method="post"
      action="{% url 'edit_dataset_step' dataset.name 'frequency_annually' %}"
      class="form">
    {{ wizard.management_form }}
    {% csrf_token %}

    {% include 'drafts/includes/title_url.html' %}

    <fieldset>
      <legend>
        <span class="form-label-bold">
          Time period of this link
        </span>
      </legend>
      <div class="form-group">
        <label class="form-label" for="period_year">Year</label>
        <span class="form-hint">For example, 2016</span>
        <input
            class="form-control"
            id="period_year"
            name="{{ form.year.html_name }}"
            type="number"
            pattern="[0-9]*"
            min="0"
            value="{{ w.year.value|default:'' }}">
      </div>
    </fieldset>

    <br/>

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

  </form>

{% endblock %}
