{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  How often is this dataset updated?
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">
    How often is this dataset updated?
  </h1>

  <form action="{% url 'edit_frequency' dataset.name %}" method="POST">
    {% csrf_token %}

    <ul class="errorlist"><li>This field is required.</li></ul>

    <div class="form-group">
      <fieldset>
        <legend class="visually-hidden">Choose a frequency</legend>
        <label class="block-label selection-button-radio" for="id_frequency_0">
          <input
              id="id_frequency_0"
              name="frequency"
              type="radio"
              value="daily"
              required=""/>
          <span>Every day</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_1">
          <input
              id="id_frequency_1"
              name="frequency"
              type="radio"
              value="weekly"
              required=""/>
          <span>Every week</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_2">
          <input
              id="id_frequency_2"
              name="frequency"
              type="radio"
              value="monthly"
              required=""/>
          <span>Every month</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_3">
          <input
              id="id_frequency_3"
              name="frequency"
              type="radio"
              value="quarterly"
              required=""/>
          <span>Every quarter</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_4">
          <input
              id="id_frequency_4"
              name="frequency"
              type="radio"
              value="annually"
              required=""/>
          <span>Every year (January to December)</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_5">
          <input
              id="id_frequency_5"
              name="frequency"
              type="radio"
              value="financial-year"
              required=""/>
          <span>Every year (April to March)</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_6">
          <input
              id="id_frequency_6"
              name="frequency"
              type="radio"
              value="never"
              required=""/>
          Never
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>
{% endblock %}
