{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  How often is this dataset updated?
{% endblock %}

{% block inner_content %}
{% with freq=wizard.form.frequency %}

  {% if wizard.form.errors %}
    <div
        class="error-summary"
        role="group"
        aria-labelledby="error-summary-heading-example-1"
        tabindex="-1">
      <h1
          class="heading-medium error-summary-heading"
          id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        {% for error in wizard.form.non_field_errors %}
          <li>
            {{ error }}
            <span class="visuallyhidden">.</span>
          </li>
        {% endfor %}

        {% for error in freq.errors %}
          <li>
            <a href="#frequency_form_group">
              Please indicate how often this dataset is updated
            </a>
            <span class="visuallyhidden">.</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}



  <h1 class="heading-large">
    How often is this dataset updated?
  </h1>

  <form
      action="{% url 'edit_dataset_step' dataset.name 'frequency' %}"
      method="POST">
    {{ wizard.management_form }}
    {% csrf_token %}
    <input type="hidden" name="editing" value="{{ editing }}">

    <div
        class="form-group {% if form.frequency.errors %}error{% endif %}"
        id="#frequency_form_group">
      <fieldset>
        <legend class="visually-hidden">Choose a frequency</legend>
        {% if freq.errors %}
          <span class="error-message">
            Please indicate how often this dataset is updated
          </span>
        {% endif %}
        <label class="block-label selection-button-radio" for="id_frequency_0">
          <input
              id="id_frequency_0"
              name="{{ freq.html_name }}"
              type="radio"
              value="daily"
              {% if freq.value == 'daily' %}
                checked
              {% endif %}/>
          <span>Every day</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_1">
          <input
              id="id_frequency_1"
              name="{{ freq.html_name }}"
              type="radio"
              value="weekly"
              {% if freq.value == 'weekly' %}
                checked
              {% endif %}/>
          <span>Every week</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_2">
          <input
              id="id_frequency_2"
              name="{{ freq.html_name }}"
              type="radio"
              value="monthly"
              {% if freq.value == 'monthly' %}
                checked
              {% endif %}/>
          <span>Every month</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_3">
          <input
              id="id_frequency_3"
              name="{{ freq.html_name }}"
              type="radio"
              value="quarterly"
              {% if freq.value == 'quarterly' %}
                checked
              {% endif %} />
          <span>Every quarter</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_4">
          <input
              id="id_frequency_4"
              name="{{ freq.html_name }}"
              type="radio"
              value="annually"
              {% if freq.value == 'annually' %}
                checked
              {% endif %} />
          <span>Every year (January to December)</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_5">
          <input
              id="id_frequency_5"
              name="{{ freq.html_name }}"
              type="radio"
              value="financial-year"
              {% if freq.value == 'financial-year' %}
                checked
              {% endif %} />
          <span>Every year (April to March)</span>
        </label>
        <label class="block-label selection-button-radio" for="id_frequency_6">
          <input
              id="id_frequency_6"
              name="{{ freq.html_name }}"
              type="radio"
              value="never"
              {% if freq.value == 'never' %}
                checked
              {% endif %} />
          <span>Never</span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

{% endwith %}
{% endblock %}
