{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Add dataset area
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">
    Choose an area
  </h1>

  <p>
    Which area does your dataset cover? You must choose at least one
    of the following.
  </p>

  <form action="{% url 'edit_dataset_step' dataset.name 'country' %}" method="POST">
    {{ wizard.management_form }}
    {% csrf_token %}
    <ul class="errorlist"><li>This field is required.</li></ul>

    <div class="form-group">
      <fieldset>
        <legend class="visually-hidden">Choose an area</legend>
        <label class="block-label form-checkbox" for="id_countries_0">
          <input
              id="id_countries_0"
              name="{{ wizard.form.countries.html_name }}"
              type="checkbox"
              value="england"
              {% if 'england' in wizard.form.countries.value %}checked{% endif %} />
          <span>England</span>
        </label>
        <label class="block-label form-checkbox" for="id_countries_1">
          <input
              id="id_countries_1"
              name="{{ wizard.form.countries.html_name }}"
              type="checkbox"
              value="wales"
              {% if 'wales' in wizard.form.countries.value %}checked{% endif %} />
          <span>Wales</span>
        </label>
        <label class="block-label form-checkbox" for="id_countries_2">
          <input
              id="id_countries_2"
              name="{{ wizard.form.countries.html_name }}"
              type="checkbox"
              value="scotland"
              {% if 'scotland' in wizard.form.countries.value %}checked{% endif %} />
          <span>Scotland</span>
        </label>
        <label class="block-label form-checkbox" for="id_countries_3">
          <input
              id="id_countries_3"
              name="{{ wizard.form.countries.html_name }}"
              type="checkbox"
              value="northern-ireland"
              {% if 'northern-ireland' in wizard.form.countries.value %}checked{% endif %}  />
          <span>Northern Ireland</span>
        </label>
        <label class="block-label form-checkbox" for="id_countries_4">
          <input
              id="id_countries_4"
              name="{{ wizard.form.countries.html_name }}"
              type="checkbox"
              value="overseas"
              {% if 'overseas' in wizard.form.countries.value %}checked{% endif %}  />
          <span>Overseas</span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

</form>
{% endblock %}
