{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Add dataset licence
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">
    Choose a licence
  </h1>

  <p>Choose the licence that your dataset is published under.</p>

  <p>
    Most datasets are published under the Open Government Licence (OGL),
    which means the data within them can be copied and used by anyone.
  </p>


  <form action="{% url 'edit_licence' dataset.name %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <fieldset>
        <legend class="visually-hidden">Choose a licence</legend>
        <label class="block-label selection-button-radio selected" for="id_licence_1">
          <input id="id_licence_1" name="licence" type="radio" value="ogl"/>
          Open Government Licence
        </label>
        <label class="block-label selection-button-radio" for="id_licence_2">
          <input id="id_licence_2" name="licence" type="radio" value="inpire"/>
          INSPIRE
        </label>
        <label class="block-label selection-button-radio" for="id_licence_3">
          <input id="id_licence_3" name="licence" type="radio" value="other"/>
          Other:
        </label>
      </fieldset>
    </div>
    <div class="form-group">
      <label class="form-label" for="id_licence_other">
        Name of your licence:
      </label>
      <input
          class="form-control"
          id="id_licence_other"
          name="licence_other"
          type="text"/>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

{% endblock %}
