{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Add a link
{% endblock %}

{% block inner_content %}
  {% include 'drafts/includes/title_errors.html' %}

  <h1 class="heading-large">
    Add a link
  </h1>

  <form action="{% url 'edit_dataset_addfile' dataset.name %}" method="POST">
    {% csrf_token %}

    {% include 'drafts/includes/title_url.html' %}

    <div class="form-group">
      <input type="submit" class="button" value="Check for errors"/>
    </div>
  </form>
{% endblock %}
