{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Add dataset title
{% endblock %}

{% block inner_content %}

  {% if form.errors %}
    <div
        class="error-summary"
        role="group"
        aria-labelledby="error-summary-heading-example-1"
        tabindex="-1">
      <h1
          class="heading-medium error-summary-heading"
          id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        {% for error in form.non_field_errors %}
          <li>
            {{ error }}
            <span class="visuallyhidden">.</span>
          </li>
        {% endfor %}

        {% if form.title.errors %}
          <li>
            <a href="#id_title_label">Please provide a valid title</a>
            <span class="visuallyhidden">.</span>
          </li>
        {% endif %}

          {% if form.description.errors %}
          <li>
            <a href="#id_description_label">Please provide a description</a>
            <span class="visuallyhidden">.</span>
          </li>
          {% endif %}

          {% if form.summary.errors %}
          <li>
            <a href="#id_description_label">Please provide a summary</a>
            <span class="visuallyhidden">.</span>
          </li>
          {% endif %}
      </ul>
    </div>
  {% endif %}

  <h1 class="heading-large">
    Create a dataset
  </h1>

  <p>You must give the dataset a title and a description.</p>

  <form method="post" class="form" action="{{ target_url }}">
    {% csrf_token %}

    <fieldset>
      <legend class="visuallyhidden">
        Provide a title, summary, and description.
      </legend>

      <div class="form-group {% if form.title.errors %}error{% endif %}">
        <label
            class="form-label-bold"
            for="id_title"
            id="id_title_label">
          Title
        </label>
        {% if form.title.errors %}

        {% endif %}
        <span class="form-hint">
          Titles should be 65 characters or less, including spaces.<br/>
          Most search engines will shorten titles if they’re longer than
          this.
        </span>
        <input
            class="form-control form-control-2-3"
            id="id_title"
            name="{{ form.title.html_name }}"
            type="text"
            value="{{ form.title.value|default:"" }}"/>
      </div>

      <div class="form-group {% if form.summary.errors %}error{% endif %}">
        <label
            class="form-label-bold"
            for="id_summary"
            id="id_summary_label">
          Summary
        </label>
        {% for error in form.summary.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
        <span class="form-hint">
          Write a short description of the dataset. Along with the title,
          the summary will appear in search results.
          <br/>
          <br/>
          Include any relevant words and phrases that you didn't use in the title.
          This will helps users find your dataset.
        </span>
        <textarea
            rows="4"
            class="form-control form-control-2-3"
            id="id_summary"
            name="{{ form.summary.html_name }}">{{ form.summary.value|default:""}}</textarea>
      </div>

      <div class="form-group {% if form.description.errors %}error{% endif %}">
        <label
            class="form-label-bold"
            for="id_description"
            id="id_description_label">
          Additional information
        </label>
        {% for error in form.description.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
        <span class="form-hint">
          You might want to include more information about your dataset,
          such as how it was collected or if there's anything missing from it.
          <br/>
          <br/>
          Make sure you write in plain English, use short sentences and paragraphs.
          Explain any technical terms of acronyms the first time you use them.
        </span>
        <textarea
            rows="10"
            class="form-control form-control-2-3"
            id="id_description"
            name="{{ form.description.html_name }}">{{ form.description.value|default:""}}</textarea>
      </div>
    </fieldset>

    <div class="form-group">
      <input type="submit" class="button" value="Continue"/>
    </div>
  </form>

{% endblock %}
