{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Add dataset licence
{% endblock %}

{% block inner_content %}
  {% if wizard.form.errors %}
    <div
        class="error-summary"
        role="group"
        aria-labelledby="error-summary-heading-example-1"
        tabindex="-1">
      <h1
          class="heading-medium error-summary-heading"
          id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        {% for error in wizard.form.non_field_errors %}
          <li>
            {{ error }}
            <span class="visuallyhidden">.</span>
          </li>
        {% endfor %}

          {% for error in wizard.form.licence.errors %}
          <li>
            <a href="#licence_form_group">
              Please select a licence for your dataset
            </a>
            <span class="visuallyhidden">.</span>
          </li>
          {% endfor %}

          {% for error in wizard.form.licence_other.errors %}
          <li>
            <a href="#licence_other_label">
              Please type the name of your licence
            </a>
            <span class="visuallyhidden">.</span>
          </li>
          {% endfor %}
      </ul>
    </div>
  {% endif %}

  <h1 class="heading-large">
    Choose a licence
  </h1>

  <p>Choose the licence that your dataset is published under.</p>

  <p>
    Most datasets are published under the Open Government Licence (OGL),
    which means the data within them can be copied and used by anyone.
  </p>

  <form
      action="{% url 'edit_dataset_step' dataset.name 'licence' %}"
      method="POST">

    {{ wizard.management_form }}
    {% csrf_token %}
    <div
        class="form-group {% if form.licence.errors %}error{% endif %}"
        id="licence_form_group">
      <fieldset>
        <legend class="visually-hidden">Choose a licence</legend>
        {% for error in wizard.form.licence.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}

        <label class="block-label selection-button-radio" for="id_licence_0">
          <input
              id="id_licence_0"
              name="{{ wizard.form.licence.html_name }}"
              type="radio"
              value="uk-ogl"
              {% if wizard.form.licence.value == 'ogl' %}
                checked
              {% endif %} />
          <span>Open Government Licence</span>
        </label>
        <label class="block-label selection-button-radio" for="id_licence_1">
          <input
              id="id_licence_1"
              name="{{ wizard.form.licence.html_name }}"
              type="radio"
              value="inspire"
              {% if wizard.form.licence.value == 'inspire' %}
                checked
              {% endif %} />
          <span>INSPIRE</span>
        </label>
        <label class="block-label selection-button-radio" for="id_licence_2">
          <input
              id="id_licence_2"
              name="{{ wizard.form.licence.html_name }}"
              type="radio"
              value="other"
              {% if wizard.form.licence.value == 'other' %}
                checked
              {% endif %}  />
          <span>Other:</span>
        </label>
      </fieldset>
    </div>
    <div
        class="form-group {% if wizard.form.licence_other.errors %}error{% endif %}">
      <label class="form-label" for="id_licence_other" id="licence_other_label">
        Name of your licence:
      </label>
      {% for error in wizard.form.licence_other.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
      <input
          class="form-control"
          id="id_licence_other"
          name="{{ wizard.form.licence_other.html_name }}"
          type="text"
          {% if form.licence_other.value %}
            value="{{ wizard.form.licence_other.value }}"
          {% endif %}
          />
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

{% endblock %}
