{% extends 'main_with_navbar.html' %}
{% load static %}

{% block page_title %}
  Dataset links
{% endblock %}

{% block inner_content %}
  <main id="content" role="main" tabindex="-1">
    <h1 class="heading-large">
      Dataset links
    </h1>

    <table>
      <thead>
        <tr>
          <td>Title</td>
          <td>Url</td>
          <td>Valid</td>
          <td><span class="visuallyhidden">Actions</span></td>
        </tr>
      </thead>
      <tbody>
      {{dataset}}
        {% for file in dataset.files.all %}
          <tr>
            <td>{{ file.title }} </td>
            <td>{{ file.url }} </td>
            <td>✔</td>
            <td>
              <a href="">Edit</a>
              <a href="">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>

    <form
        method="POST"
        action="{% url 'edit_dataset_step' dataset.name 'notifications' %}"
        class="form">
      <div class="form-group">
        {{ wizard.management_form }}
        {% csrf_token %}
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    <div class="form-group">
      <a href="{% url 'edit_dataset_step' dataset.name 'add_file' %}">Add another file</a>
    </div>

  </main>
{% endblock %}
