{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock %}

{% block page_title %}
  Publish Data
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include 'includes/proposition_header.html' %}
{% endblock %}

{% block content %}
  <main id="content" role="main" tabindex="-1">
    {% include 'includes/phase_banner.html' %}
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
