{% extends 'base.html' %}
{% load static %}
{% load flow_state %}
{% load analytics %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock %}

{% block page_title %}
  Publish Data
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include 'includes/proposition_header.html' %}
{% endblock %}

{% block cookie_message %}
  <p>
    data.gov.uk uses cookies to make the site simpler.
    <a href="{% url 'cookies' %}">Find out more about cookies.</a>
  </p>
{% endblock %}


{% block content %}
  <main id="content" role="main" tabindex="-1">
    {% if user.email %}
      <h2 class="user-bar">{{ user.email }}</h2>
    {% endif %}
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}
  <script src="{% static 'js/main.js' %}"></script>
  {% analytics %}
{% endblock %}
