{% extends 'base.html' %}
{% load static %}
{% load analytics %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  {% analytics %}
{% endblock %}

{% block page_title %}
  Publish Data
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include 'includes/proposition_header.html' %}
{% endblock %}

{% block cookie_message %}
  <p>
    data.gov.uk uses cookies to make the site simpler.
    <a href="{% url 'cookies' %}">Find out more about cookies.</a>
  </p>
{% endblock %}


{% block content %}
  <main id="content" role="main" tabindex="-1">
    {% if user.email %}
      <h2 class="user-bar">{{ user.email }}</h2>
    {% endif %}
    <div class="grid-row">
      <div class="column-one-quarter">
        <div id="side-navigation">
          <nav>
            <ul>
              {% url 'dashboard' as dashboard %}
              {% url 'new_dataset' as new %}
              {% url 'manage_data' as manage %}
              <li class="{% if request.path == dashboard %}bold{% endif %}">
                <a href="{{ dashboard }}">Dashboard</a>
              </li>
              <li class="{% if request.path|slice:":8" == '/dataset' %}bold{% endif %}">
                <a href="{{ new }}">Create a dataset</a>
              </li>
              <li class="{% if request.path == manage %}bold{% endif %}">
                <a href="{{ manage }}">Manage your data</a>
              </li>
              <li>
                <a href="{% url 'signout' %}">Sign out</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="column-three-quarters">
        {% block inner_content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}

{% block body_end %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
