 {% if form.errors %}
    <div
        class="error-summary"
        role="group"
        aria-labelledby="error-summary-heading-example-1"
        tabindex="-1">
      <h1
          class="heading-medium error-summary-heading"
          id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        {% for error in form.non_field_errors %}
          <li>
            {{ error }}
            <span class="visuallyhidden">.</span>
          </li>
        {% endfor %}

          {% for error in form.url.errors %}
          <li>
            <a href="#url_form_group">
                {{ error }}
            </a>
            <span class="visuallyhidden">.</span>
          </li>
          {% endfor %}
      </ul>
    </div>
  {% endif %}
