{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block inner_content %}

  <h1 class="heading-large">{% block page_inner_title %}{% endblock %}</h1>

  <div class="tasks">
    <div class="tabs">{%block tasks_title %}{% trans "My tasks" %}{% endblock %}</div>
    <div class="tabs-content">
      <section class="show-hide">
        <div class="table-title">
          <h2 class="heading-medium">
            {{tasks.update|length}} {% trans "datasets need to be updated" %}
          </h2>
        </div>
        <table>
          <thead>
            <tr>
              <th class="sortable-heading name">
                <a
                    href="{{ qs_name_next }}"
                    class="{% if sort == 'name' %}sort-ascending{% elif sort == '-name' %}sort-descending{% endif %}">
                  {% trans 'Name' %}
                </a>
              </th>
              <th class="sortable-heading update-by">
                <a
                    href="{{ qs_published_next }}"
                    class="{% if sort == 'published' %}sort-ascending{% elif sort == '-published' %}sort-descending{% endif %}">
                  {% trans 'Update by' %}
                </a>
              </th>
              <th class="actions">
                <span class="visuallyhidden">{% trans 'Actions' %}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for dataset in datasetsUpdate %}
              <tr class="show-hide-item">
                <th>
                  <a href="{{ find_url }}/dataset/{{ dataset.name }}">{{ dataset.title }}</a>
                </th>
                <td>
                  <span class="update-date">{% cycle "03 Feb 2017" "24 Feb 2017" "03 April 2017" %}</span>
                  <div class="overdue {% if forloop.counter != 2 %}visuallyhidden{% endif %}">{% trans "Overdue" %}</div>
                </td>
                <td class="actions">
                  <a class="update" href="{% url 'edit_dataset_files' dataset.name %}">
                    {% trans "Update" %}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td><a class="toggle" style="display:none">{% trans "Show all" %}</a></td>
            </tr>
          </tfoot>
        </table>
      </section>

      <section class="show-hide">
        <div class="table-title">
          <h2 class="heading-medium">
            {{tasks.fix|length}} {% trans "datasets have broken data links" %}
          </h2>
        </div>
        <table>
          <thead>
            <tr>
              <th class="sortable-heading name">
                <a
                    href="{{ qs_name_next }}"
                    class="{% if sort == 'name' %}sort-ascending{% elif sort == '-name' %}sort-descending{% endif %}">
                  {% trans 'Name' %}
                </a>
              </th>
              <th class="sortable-heading broken-links">
                <a
                    href="{{ qs_published_next }}"
                    class="{% if sort == 'published' %}sort-ascending{% elif sort == '-published' %}sort-descending{% endif %} link-count">
                  {% trans 'Broken links' %}
                </a>
              </th>
              <th class="actions">
                <span class="visuallyhidden">{% trans 'Actions' %}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for dataset in datasetsBroken %}
              <tr class="show-hide-item">
                <th>
                  <a href="{{ find_url }}/dataset/{{ dataset.name }}">{{ dataset.title }}</a>
                </th>
                <td class="broken-links"><div class="link-count">{% cycle "1" "3" "12" "9" %}</div></td>
                <td class="actions">
                  <a class="update" href="{% url 'edit_dataset_files' dataset.name %}">{% trans "Fix" %}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td><a class="toggle" style="display:none">{% trans "Show all" %}</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>

      <div id="stats" class="js-hidden">
        <div id="orgs" style="display: none">{{ orgs }}</div>
        <div id="api-endpoint" style="display: none">{{ api_endpoint }}</div>
        <h2 class="heading-medium">{% trans "Most popular" %}</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">{% trans "Name" %}</th>
              <th scope="col">{% trans "Downloads" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="row-template" style="display: none">
              <td class="stats-title"></td>
              <td>
                <span class="stats-downloads"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
