{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Tasks" %}
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">{%trans "Task list" %}</h1>

  <div class="tasks">
    <div class="tabs">{%block tasks_title %}{% trans "My tasks" %}{% endblock %}</div>
    <div class="tabs-content">
      <section class="show-hide">
        <div class="table-title">
          <h2 class="heading-medium">
            <span class="bignum">{{tasks.update|length}}</span> {% trans "datasets need to be updated" %}
          </h2>
        </div>
        <table>
          <tbody>
            {% for task in tasks.update %}
              <tr class="show-hide-item">
                <th>
                  {{ task.description }}
                </th>
                <td><div class="overdue">{{ task.label_text }}</div></td>
                <td class="actions">
                  <a class="update" href="{% url 'edit_dataset_files' task.related_object_id %}">
                    {% trans "Update" %}
                    <span class=""
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td><a class="toggle" style="display:none">{% trans "Show all" %}</a></td>
            </tr>
          </tfoot>
        </table>
      </section>

      <section class="show-hide">
        <div class="table-title">
          <h2 class="heading-medium">
            <span class="bignum">{{tasks.fix|length}}</span> {% trans "datasets have broken data links" %}
          </h2>
        </div>
        <table>
          <tbody>
            {% for task in tasks.fix %}
              <tr class="show-hide-item">
                <th>
                  {{ task.description }}
                </th>
                <td><div class="overdue">{{ task.label_text }}</div></td>
                <td class="actions">
                  <a class="update" href="{% url 'edit_dataset_files' task.related_object_id %}">{% trans "Update" %}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td><a class="toggle" style="display:none">{% trans "Show all" %}</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>

      <div id="stats" class="js-hidden">
        <div id="orgs" style="display: none">{{ orgs }}</div>
        <div id="api-endpoint" style="display: none">{{ api_endpoint }}</div>
        <h2 class="heading-medium">{% trans "Most popular" %}</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">{% trans "Name" %}</th>
              <th scope="col">{% trans "Downloads" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="row-template" style="display: none">
              <td class="stats-title"></td>
              <td>
                <span class="stats-downloads"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
