{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans 'Password reset' %}
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">{% trans 'Enter new password' %}</h1>

  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form action="" method="post">
    {% csrf_token %}

    <fieldset>
      <legend class="visuallyhidden">
        {% trans "Provide an email address" %}
      </legend>

      <div
          class="form-group {% if form.new_password1.errors %}error{% endif %}"
          id="new_password1_form_group">
        <label
            class="form-label-bold"
            for="id_new_password1">
          {% trans "New password" %}
        </label>
        {% for error in form.new_password1.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
        <input
            class="form-control form-control-2-3"
            id="id_new_password1"
            name="{{ form.new_password1.html_name }}"
            type="password"
            value="{{ form.new_password1.value|default:"" }}"/>
      </div>

      <div
          class="form-group {% if form.new_password2.errors %}error{% endif %}"
          id="new_password2_form_group">
        <label
            class="form-label-bold"
            for="id_new_password2">
          {% trans "Confirm password" %}
        </label>
        {% for error in form.new_password2.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
        <input
            class="form-control form-control-2-3"
            id="id_email"
            name="{{ form.new_password2.html_name }}"
            type="password"
            value="{{ form.new_password2.value|default:"" }}"/>
      </div>

    </fieldset>

    <p>
      <input type="submit" class="button" value="{% trans 'Change password' %}"/>
    </p>

  </form>






{% endblock %}
