{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans 'Password reset' %}
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">{% trans 'Password reset' %}</h1>

  <p>{% trans 'Forgotten your password?' %}</p>

  <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>


  <form
      action="{% url 'password_reset' %}"
      method="POST">
    {% csrf_token %}

    <fieldset>
      <legend class="visuallyhidden">
        {% trans "Provide an email address" %}
      </legend>

      <div
          class="form-group {% if form.email.errors %}error{% endif %}"
          id="email_form_group">
        <label
            class="form-label-bold"
            for="id_email">
          {% trans "Email" %}
        </label>
        {% for error in form.email.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
        <input
            class="form-control form-control-2-3"
            id="id_email"
            name="{{ form.email.html_name }}"
            type="text"
            value="{{ form.email.value|default:"" }}"/>
      </div>
    </fieldset>

    <p>
      <input type="submit" class="button" value="{% trans 'Submit' %}"/>
    </p>

  </form>

{% endblock %}
