{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans 'Your account' %}
{% endblock %}

{% block inner_content %}

  <h1 class="heading-large">{% trans 'Your account' %}</h1>

  <ul class="user-details">
    <li><div class="label">{% trans 'Name' %}</div>{{ user.username }}</li>
    <li><div class="label">{% trans 'Email' %}</div>{{ user.email }}</li>
    <li><div class="label">{% trans 'Organisation' %}</div>{{ user.organisations.first }}</li>
  </ul>

{% endblock %}
