{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans "Manage your datasets" %}
{% endblock %}

{% block inner_content %}
  <div style="display:none" id="find-url">{{ find_url }}</div>

  <main id="content" role="main" tabindex="-1">

    {% if messages %}
      <div class="govuk-box-highlight">
        {% for message in messages %}
          <h1 class="bold-large"> {{ message|safe }}</h1>
          {% if message.extra_tags %}
            <h2><a href="{{ find_url }}/dataset/{{ message.extra_tags }}">{% trans "View it" %}</a></h2>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="heading-large">{% trans "Manage your datasets" %}</h1>

    <div class="tabs">{%block manage_title %}{% endblock %}</div>

    <div class="tabs-content">

      <p>
        <a
          href="{% url 'new_dataset' %}"
          class="button-secondary">
        {% trans "Create a dataset" %}
        </a>
      </p>

      <form
          method="GET"
          action="{% url current_view %}"
          id="filter-dataset-form"
          class="form">

        <fieldset>
          <legend class="visuallyhidden">
            {% trans "Filter datasets by name" %}
          </legend>

          <div class="form-group wide-search-bar">
            <label for="q">
              <span>{% trans "Search all datasets" %}</span>
              <input
                  class="form-control"
                  id="q"
                  name="q"
                  type="text"
                  autocomplete="off"
                  value="{{ q }}"/>
            </label>
          </div>
        </fieldset>
      </form>

      <table
          class="manage-data"
          {% if not datasets %}style="display:none"{% endif %}>
        <thead>
          <tr>
            <th class="sortable-heading">
              <a
                  href="{{ qs_name_next }}"
                  class="{% if sort == 'name' %}sort-ascending{% elif sort == '-name' %}sort-descending{% endif %}">
                {% trans 'Dataset name' %}
              </a>
            </th>
            <th class="sortable-heading">
              <a
                  href="{{ qs_published_next }}"
                  class="{% if sort == 'published' %}sort-ascending{% elif sort == '-published' %}sort-descending{% endif %}">
                {% trans 'Status' %}
              </a>
            </th>
            <th><span class="visuallyhidden">{% trans 'Actions' %}</span></th>
          </tr>
        </thead>
        <tbody id="dataset-list">
          {% for dataset in datasets %}
            <tr>
              <td>
                {% if find_url and dataset.published %}
                  <a href="{{ find_url }}/dataset/{{ dataset.name }}">{{ dataset.title }}</a>
                {% else %}
                  {{ dataset.title }}
                {% endif %}
              </td>
              <td>
                {% if dataset.published %}
                  {% trans "Published" %}
                {% else %}
                  {% trans "Draft" %}
                {% endif %}
              </td>
              <td class="actions">
                {% if dataset.name %}
                  <a href="{% url 'edit_dataset_addfile' dataset.name %}">{% trans "Add&nbsp;Data" %}</a>
                  <a href="{% url 'edit_full_dataset' dataset.name %}">{% trans "Edit" %}</a><br/>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p
          class="noresults"
          style="display:{% if not datasets %}block{% else %}none{% endif %}">
        {% trans "No results found" %}
      </p>


      <div class="pagination">
        {% if page_range|length > 1 %}
          {% for page in page_range %}
            {% if page == current_page %}
              <span>{{ current_page }}</span>
            {% else %}
              <span><a href="?page={{ page }}{% if q %}&q={{ q }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}">{{ page }}</a></span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
